# Open-Meteo
OPENMETEO_LAT=36.77
OPENMETEO_LON=-2.81
OPENMETEO_HISTORICO_START=2020-01-01

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=clima

DEFAULT_PRESSURE_HPA=1013.25
