# Python
__pycache__/
*.pyc

# FastAPI
.env

# Node / JS
node_modules/

# VSCode
.vscode/

# Pentaho (MUY IMPORTANTE)
data-integration/
*.ktr~
*.kjb~
*.log

# Datos
datos/*.csv
data/*.csv

# Sistema
.DS_Store
Thumbs.db

# Secretos / tokens sueltos
eyJ*.txt
